bin/
web/
tmp/
/pwa-engine

# Tailwind build artifacts
tailwind/node_modules/
tailwind/dist/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Dependency directories
vendor/

# Logs
*.log
